.intro{
  height: 300px;
  background-size: cover;
  margin-bottom: var(--gap);
}
  
.about{
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: calc(var(--gap) * 3);
  padding: var(--gap);
}
  
.avatar img{
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 50%;
}
  
.name{
  margin-bottom: var(--gap);
}


  