.userBlock{
    padding: var(--gap);
    margin-bottom: calc(var(--gap) / 2);
    border: 1px solid;
}

.userImage{
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}

.userHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--gap) / 2);
}

.userText{
    border-top: 1px solid;
    padding: calc(var(--gap) / 2);
    margin-bottom: calc(var(--gap) / 2);    
}